name: Upload to PyPi

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    name: Build and upload wheels
    permissions:
      # IMPORTANT: write permission is mandatory for Trusted Publishing
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        fetch-tags: true

    - uses: prefix-dev/setup-pixi@v0.9.4
      with:
        pixi-version: v0.62.2
        locked: true
        cache: false
        environments: build

    - name: Build
      run: pixi run -e build build-wheels

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
